/* Layout */
body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

header {
    /* text-align: center; */
    background-color: #f8f8f8;
    padding: 2em 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin-left: 1em;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}

/* Typography */
h1 {
    font-family: Lora;
    font-size: 2rem;
    font-weight: 400;
    color: #143774;
    margin: 0;
}

.subtitle {
    font-size: .75rem;
    font-weight: bold;
    color: #1792D2;
    margin-top: 0;
}

nav a {
    color: #707070;
    text-decoration: none;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 2px solid #707070;
}

.current-page:hover {
    color: #707070;
}